@import '../../styles/main.scss';

.product-slider {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;

  @include pad {
    padding-left: 24px;
    padding-right: 0;
  }

  @include desktop {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 60px;
  }

  &__title {
    width: 70%;
    margin-bottom: 56px;

    @include pad {
      width: 100%;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  top: 5px;
  left: initial;
  margin-top: 0;
  @include height-width(32px, 32px);
  background-color: $color-surface-2;
  border: 1px solid $color-surface-2;
  @include hover(background-color, $color-icons);
  z-index: 1;

  @include pad {
    top: 5px;
  }
}

.swiper-button-prev {
  right: 56px;

  @include pad {
    right: 64px;
  }

  @include desktop {
    right: 72px;
  }
}

.swiper-button-next {
  right: 16px;

  @include pad {
    right: 24px;
  }

  @include desktop {
    right: 32px;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 6px;
  color: $color-white;
}
