@import '../../styles/main.scss'; //

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#notfound {
  min-height: calc(100vh - 334px);

  @include pad {
    min-height: calc(100vh - 189px);
  }
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 40%;
  @include pad {
    top: 45%;
  }
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  z-index: -1;
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px $color-black;
}

.notfound .notfound-404 h3 {
  position: relative;
  @include font-style($fw-600, $fs-16, 16px, $color:$color-white);
  text-transform: uppercase;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h2 {
  @include font-style($fw-600, $fs-16, 16px, $color:$color-white);
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}
